{% extends "base.html" %}
{% load static %}
{% block title %}Canvas Quality{% endblock %}

    {% block content %}
<div class="clear"></div>

		<!-- Page Title
		============================================= -->
		<section id="page-title">
			<div class="container clearfix">
				<h1>Portfolio</h1>
				<span>Instagram | Facebook | Twitter</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Login - Registration</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

	<!-- Content		============================================= -->

    <section id="content">

			<div class="content-wrap">

				<div class="container clearfix">
                            <div id="instagram" class="widget clearfix">

								<h4 class="highlight-me">Instagram Photos</h4>
								<div id="instagram-photos" class="instagram-photos masonry-thumbs grid-4" data-user="3183492720" data-count="40" data-type="user"></div>

							</div>


				</div>

			</div>

		</section><!-- #content end -->



    {% endblock %}



